body {
    padding-top: 50px;
    position: relative;
}
section {
    padding-bottom: 20px;
}
.navbar-brand {
    color: #3498db!important;
}
.navbar-right {
    margin-right: 0px;
}
.help-wanted {
    color: #3498db!important;
}
.hero-box {
    background: #3498db;
    color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.71)), to(rgba(0, 0, 0, 0.71))), url(img/kitchen-2400367_1920.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.71)), url(img/kitchen-2400367_1920.jpg);
    background-position: center;
    /*height: 50vh;*/
    padding-top: 20px;
    background-position: fixed;
    background-size: cover;
}
.hero-box h1 {
    margin: 100px auto;
    font-weight: 100;
    font-size: 300%;
    /*color: #3498db!important;*/
}
.hero-box h2,
h3 {
    /*color: #3498db!important;*/
    font-weight: 100!important;
}
.co-name {
    font-family: 'Satisfy', cursive;
    font-weight: 100;
    font-size: 130%;
}
.about img {
    padding: 15px;
}
.tier1 img {
    vertical-align: middle;
}
.tier1 .MMA {}
.tier1 .ARCSI {
    margin-top: 50px;
}
.about-par {
    margin-top: 15px;
}
.services {
    background: #f0f0f0;
}
.services ul {
    list-style: none;
    margin-top: 15px;
}
.services li i {
    color: #2ecc71;
    font-size: 110%;
    padding-right: 10px;
}
.services .panel-warning {
    margin-top: 35px;
}
.testimonials {}
.contact .panel {
    margin-top: 30px;
}
.contact .alert {
    margin-top: 30px;
}
.contact ul {
    list-style: none;
}
.contact {
    background: #f0f0f0;
}
.contact-list i {
    margin-left: -20px;
    padding-right: 6px;
}
footer {
    padding-top: 30px;
    padding-bottom: 15px;
    background: #8e8e8e;
    color: #fff
}
footer ul {
    list-style: none;
}

/*.contact-info {
    float: left;
}*/

.contact-info li {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}
.accredidations {
    display: block;
    /* float: right;*/
    -ms-flex-line-pack: center;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.accredidations ul {
    margin-left: auto;
    margin-right: auto;
}
.accredidations img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*.error {
    background-color: rgba(209, 46, 46, 0.8);
}
.success {
    background-color: rgba(38, 191, 68, 0.8);
}
.form-messages {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 30px;
    color: #333;
}*/
